body {
    font-family: Arial, Helvetica, sans-serif;
    color: White;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../assets/Jimbob75_high_key_glossy_pharma_tablets_pharma_capsules_b1e8d8be-d5b4-40e9-9475-370c8cf7eb13.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  header h1 {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #FFAC1C;
    font-size: 32px;
  }
  
  header nav {
    display: flex;
}
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
  header nav li {
    margin: 0 10px;
}
  
  header nav a {
    color: #fff;
    text-decoration:double;
    font-size: 18px;
}
  
  header nav a:hover {
    color: #8bc34a;
}

.mode {
  float:right;
}
.change {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.dark{
  background-color: #1e1f22;
  color: #e6e6e6;
}


main {
    margin: 80px auto;
    max-width: 800px;
    padding: 20px;
}

#viz {
  border-radius: 25px;
  background-image: linear-gradient(rgb(224, 220, 220), #f4c471);
  padding: 20px;
  margin-bottom: 20px;
}

.guide {
  display: flex;
  justify-content: center;
}

.guide img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 10%;
  border: 1px solid black;
  cursor: pointer;
}

#about {
  border-radius: 25px;
  background-image: url('../assets/nutritional-supplement-2358476.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  padding: 20px;
}

#moreInfo {
  padding: 20px;
  display: grid; 
}

section h2 {
  color: #FFAC1C;
  font-family: cursive;
  font-size: xx-large;
  font-style: italic;
  margin-bottom: 15px;
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    line-height: 1.5;
  }

li p {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5;
  color: black;
}

button {
  background-color: #FFAC1C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.active,
.collapse:hover {
  background-color: #d1a217;
}

.guide2cahrting {
  display: none;
  font-size: 20px;
}

.genChart {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#loading-gif {
  display: none;
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

footer {
    text-align: center;
    padding: 20px;
  }
  
footer p {
  font-size: 14px;
  color: #FFAC1C;
}

.icons {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  margin: 0;
}

.icons li {
  margin: 0 5px;
  padding: 20px;
}