<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>
<body style="background-image: url('../static/assets/Jimbob75_high_key_glossy_pharma_tablets_pharma_capsules_b1e8d8be-d5b4-40e9-9475-370c8cf7eb13.png');">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>404 - NOT FOUND</h1>
        <h3>Sorry, the requested page does not exist or the parameters you provided in creating the chart are not correct.</h3>
        <h3>Try to go back to the <a href="/">homepage</a> and create a new chart.</h3>
    </div>
</body>
</html>