<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
</head>
<body style="background-image: url('../static/assets/Jimbob75_high_key_glossy_pharma_tablets_pharma_capsules_b1e8d8be-d5b4-40e9-9475-370c8cf7eb13.png');">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Internal Server Error</h1>
        <p>An internal server error occurred while processing your request.</p>
        <p>Please try again later or contact support if the issue persists.</p>
    </div>
</body>
</html>